{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container py-5">
        <div class="row mb-4">
            <div class="col-md-8">
                <a href="{% url 'leads:category-list' %}" class="btn btn-outline-dark mb-3">
                    <i class="bi bi-arrow-left me-2"></i>Back to categories list
                </a>
                <h1 class="display-4">Create a New Category</h1>
            </div>
        </div>

        <div class="card shadow-sm rounded">
            <div class="card-body rounded">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-dark mt-3">Create</button>
                </form>
            </div>
        </div>
    </div>

{% endblock content %}