{% extends "base.html" %}
{% block content %}

<div class="container py-5">
    <div class="row mb-4">
        <div class="col-md-8">
            <h2 class="display-4 mb-3">Agents({{ agents.count }})</h2>
        </div>
        <div class="col-md-4 text-md-end mt-5 mb-4">
            <a href="{% url 'agents:agent-create' %}" class="btn btn-dark rounded">
                <i class="bi bi-plus-circle me-2"></i>Create new agent
            </a>
        </div>
    </div>
    <hr>
    <div class="card shadow-sm rounded">
        <div class="card-body rounded">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="lead-table">
                        <tr>
                            <th class="rounded-start">Username</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th class="rounded-end">Edit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for agent in agents %}
                            <tr>
                                <td>
                                    <a href="{% url 'agents:agent-detail' agent.pk %}" class="text-decoration-none fw-bold hover-primary text-black">{{ agent.user.username }}</a>
                                </td>
                                <td>{{ agent.user.first_name }} {{ agent.user.last_name }}</td>
                                <td>{{ agent.user.email }}</td>
                                <td>
                                    <a href="{% url 'agents:agent-update' agent.pk %}" class="btn btn-sm btn-outline-dark rounded">
                                        <i class="bi bi-pencil"></i>
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="5" class="text-center py-4">
                                    <p class="text-muted mb-0">There are currently no agents</p>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}